@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

strong {
    font-weight: 500;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #2185c5;
    font-weight: bold;
}

a:hover {
    color: #74a6c5;
}